<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Musify</title>
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <div class="addsongspage">
    <h1 class="songsTitle">Your Favorite Songs: </h1>

<ul>
  <% songs.forEach(song => { %>
    <li class="card">
      <%= song.title %> - <%= song.artist %> - <%= song.genre %>
      <a href="/songs/<%= song._id %>/edit" class="link" id="editBtn" style="color: #1f5014;">Edit</a>
      <form action="/users/<%= user._id %>/songs/<%= song._id %>?_method=DELETE" method="POST">
        <button type="submit" class="deleteBtn"> ➖ </button>
      </form>
    </li>
  <% }) %>
</div>
</ul>
</body>
</html>