<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <a href="/artists/new">Add new artist</a>
    <a href="/genres/new">Add new genre</a>
    <a href="/songs/new">Add new song</a>
    <h1>Songs</h1>
    <ul>
        <% songs.forEach(song => { %>
        <li>
        <%= song.title %>
        <a href="/songs/artist/<%= song.artist %>"> <%= song.artist %> </a>
        <a href="/songs/genre/<%= song.genre %>"> <%= song.genre %> </a>
        <% if (user) { %>
            <form action="/users/<%= user._id %>/songs/<%= song._id %>" method="POST">
                <button>Add to favs!</button>
            </form>
        <% } %>    
        </li>
        <% }) %>
    </ul>
    
</body>
</html>