<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Musify</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <div class="homepage">
    <div class="addsong">
        <h2>Is your song missing?</h2>
        <h2> Click here!</h2>
    
        <a href="/songs/new" class="link" id="addBtn">Add new song!</a>
    </div>
    <div class="songs">
        <h1 class="songsTitle">Songs: </h1>
    <ul>
        <% songs.forEach(song => { %>
        <li class="card">
        <%= song.title %> - <%= song.artist %> - <%= song.genre %>
        <% if (user) { %>
            <form action="/users/<%= user._id %>/songs/<%= song._id %>" method="POST">
                <button class="favsBtn"> ❤ </button>
            </form>
        <% } %>    
        </li>
        <% }) %>
    </ul>
    </div>
</body>
</html>