<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Musify</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
    <a href="/artists/new">Add new artist</a>
    <a href="/genres/new">Add new genre</a>
    <a href="/songs/new">Add new song</a>
    <h1>Your Favorite Songs</h1>

<ul>
  <% favsongs.forEach(song => { %>
    <li>
      <%= song.title %> - <%= song.artist %>
      <form action="/users/<%= user._id %>/songs/<%= song._id %>?_method=DELETE" method="POST">
        <button>Remove</button>
      </form>
    </li>
  <% }) %>
</ul>
</body>
</html>